___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [3]:
import pandas as pd
import numpy as np

In [4]:
ecom = pd.read_csv('../content/data.csv',encoding= 'unicode_escape')

**Check the head of the DataFrame.**

In [5]:
ecom.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

** How many rows and columns are there? **

In [6]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25015 entries, 0 to 25014
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    25015 non-null  object
 1   StockCode    25015 non-null  object
 2   Description  24904 non-null  object
 3   Quantity     25015 non-null  int64
 4   InvoiceDate  25015 non-null  object
 5   UnitPrice    25015 non-null  float64
 6   CustomerID   16056 non-null  float64
 7   Country      25015 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.5+ MB

** Show the statistical measurements of ecom dataset **

In [7]:
ecom.describe()

           Quantity     UnitPrice    CustomerID
count  25015.000000  25015.000000  16056.000000
mean       7.260284      7.108481  15572.953288
std       70.394362    180.950714   1782.224395
min    -9360.000000      0.000000  12347.000000
25%        1.000000      1.450000  14135.000000
50%        2.000000      2.510000  15647.500000
75%        6.000000      4.250000  17223.000000
max     2880.000000  13541.330000  18269.000000

** What is the average Purchase Price? **

In [8]:
ecom['UnitPrice'].mean()

7.1084805116936165

** What were the highest and lowest purchase prices? **

In [9]:
ecom.UnitPrice.max()

13541.33

In [10]:
ecom.UnitPrice.min()

0.0

** List the country names and number of records belongs to each country **

In [11]:
ecom.Country.value_counts()

United Kingdom     23709
Germany              309
France               287
EIRE                 228
Norway               147
Portugal              94
Spain                 45
Lithuania             35
Iceland               31
Italy                 25
Australia             22
Denmark               20
Channel Islands       17
Japan                 17
Belgium               12
Poland                 8
Switzerland            6
Netherlands            2
United                 1
Name: Country, dtype: int64

** How many records are as Country United Kingdom? **

In [12]:
ecom[ecom.Country == "United Kingdom"].count()

InvoiceNo      23709
StockCode      23709
Description    23598
Quantity       23709
InvoiceDate    23709
UnitPrice      23709
CustomerID     14762
Country        23709
dtype: int64

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [13]:
ecom["Total"] = ecom.UnitPrice * ecom.Quantity
ecom["Total"]

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
25010    116.38
25011      5.06
25012     16.84
25013      6.77
25014     13.54
Name: Total, Length: 25015, dtype: float64

** Show total pending amount according to the Countries **

In [14]:
ecom.groupby("Country")["Total"].sum() / 1000 # Bunun çözümünden emindeğilim normal koşullarda bölmemez lazımdı.

Country
Australia            0.61715
Belgium              0.34610
Channel Islands      0.36353
Denmark              1.28150
EIRE                 6.43133
France               7.33517
Germany              7.83114
Iceland              0.71179
Italy                0.41080
Japan                4.11448
Lithuania            1.66106
Netherlands          0.19260
Norway               3.78712
Poland               0.24816
Portugal             1.97647
Spain                0.79472
Switzerland          0.30340
United               0.01354
United Kingdom     382.56037
Name: Total, dtype: float64

** Which Country spend least? **

In [15]:
min_list= ecom.groupby("Country")['Total'].sum()
min_list.iloc[[min_list.argmin()]]

Country
United     13.54
Name: Total, dtype: float64

** Calculate average of spending according to country with apply function? **

In [16]:
ecom.groupby("Country")["Total"].apply(np.mean)

Country
Australia           28.052273
Belgium             28.841667
Channel Islands     21.384118
Denmark             64.075000
EIRE                28.207588
France              25.558084
Germany             25.343495
Iceland             22.960968
Italy               16.432000
Japan              242.028235
Lithuania           47.458857
Netherlands         96.300000
Norway              25.762721
Poland              31.020000
Portugal            21.026277
Spain               17.660444
Switzerland         50.566667
United              13.540000
United Kingdom      16.135660
Name: Total, dtype: float64

** Calculate average,min,max of spending according to country with agg function? **

In [17]:
ecom.groupby("Country")["Total"].agg(["mean", "min", "max"])

                       mean       min       max
Country
Australia         28.052273     15.00     71.40
Belgium           28.841667      8.50     50.40
Channel Islands   21.384118     14.85     50.00
Denmark           64.075000     13.20    183.60
EIRE              28.207588     -4.25    230.40
France            25.558084    -19.90    202.80
Germany           25.343495    -34.00    378.00
Iceland           22.960968     12.60     70.80
Italy             16.432000    -17.00     56.00
Japan            242.028235      5.04   3794.40
Lithuania         47.458857     13.20    122.40
Netherlands       96.300000     15.00    177.60
Norway            25.762721      5.04    101.76
Poland            31.020000     11.60     81.60
Portugal          21.026277      5.04    168.00
Spain             17.660444      0.42    145.00
Switzerland       50.566667     15.90     88.50
United            13.540000     13.54     13.54
United Kingdom    16.135660 -13541.33  13541.33

** What is the max Total spending in whole dataset and show the records of that spending ?**

In [18]:
ecom.iloc[[ecom.Total.idxmax()]]

      InvoiceNo  StockCode Description  ...  CustomerID         Country     Total
15017    537632  AMAZONFEE  AMAZON FEE  ...         NaN  United Kingdom  13541.33

[1 rows x 9 columns]

** How many people who live in Spain spend more than average Total ?**

In [22]:
ecom[ecom["Country"]=="Spain"].loc[ecom["Total"]>ecom["Total"].mean()].count()

InvoiceNo      7
StockCode      7
Description    7
Quantity       7
InvoiceDate    7
UnitPrice      7
CustomerID     7
Country        7
Total          7
dtype: int64

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

In [23]:
ecom['InvoiceDate2']=pd.to_datetime(ecom.InvoiceDate)
ecom['InvoiceDate2']

0       2010-12-01 08:26:00
1       2010-12-01 08:26:00
2       2010-12-01 08:26:00
3       2010-12-01 08:26:00
4       2010-12-01 08:26:00
                ...
25010   2010-12-10 15:17:00
25011   2010-12-10 15:17:00
25012   2010-12-10 15:17:00
25013   2010-12-10 15:17:00
25014   2010-12-10 15:17:00
Name: InvoiceDate2, Length: 25015, dtype: datetime64[ns]

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

In [24]:
ecom["Date"] = pd.to_datetime(ecom.InvoiceDate2.dt.date)
ecom["Date"]

0       2010-12-01
1       2010-12-01
2       2010-12-01
3       2010-12-01
4       2010-12-01
           ...
25010   2010-12-10
25011   2010-12-10
25012   2010-12-10
25013   2010-12-10
25014   2010-12-10
Name: Date, Length: 25015, dtype: datetime64[ns]

** drop InvoiceDate2 and InvoiceDate columns permanently **

In [25]:
ecom.drop(["InvoiceDate","InvoiceDate2"], axis=1, inplace=True)
ecom.head()

  InvoiceNo StockCode  ...  Total       Date
0    536365    85123A  ...  15.30 2010-12-01
1    536365     71053  ...  20.34 2010-12-01
2    536365    84406B  ...  22.00 2010-12-01
3    536365    84029G  ...  20.34 2010-12-01
4    536365    84029E  ...  20.34 2010-12-01

[5 rows x 9 columns]

** Remove A, B, G and E from StockCode in first 5 rows of ecom dataframe with a string method **

In [27]:
ecom["StockCode"].head()

0    85123A
1     71053
2    84406B
3    84029G
4    84029E
Name: StockCode, dtype: object

In [29]:
ecom.StockCode[:5].str.replace('A','').str.replace('B','').str.replace('G','').str.replace('E','')

0    85123
1    71053
2    84406
3    84029
4    84029
Name: StockCode, dtype: object

** take only Total and date columns with loc and craete a new df named ecom2 **

In [30]:
ecom2 = ecom.loc[:,["Total","Date"]]
ecom2

        Total       Date
0       15.30 2010-12-01
1       20.34 2010-12-01
2       22.00 2010-12-01
3       20.34 2010-12-01
4       20.34 2010-12-01
...       ...        ...
25010  116.38 2010-12-10
25011    5.06 2010-12-10
25012   16.84 2010-12-10
25013    6.77 2010-12-10
25014   13.54 2010-12-10

[25015 rows x 2 columns]

** take only InvoiceNo, CustomerID and Total columns with iloc and craete a new df named ecom3 **

In [31]:
ecom3 = ecom.iloc[:,[0,5,7]]
ecom3

      InvoiceNo  CustomerID   Total
0        536365     17850.0   15.30
1        536365     17850.0   20.34
2        536365     17850.0   22.00
3        536365     17850.0   20.34
4        536365     17850.0   20.34
...         ...         ...     ...
25010    538351         NaN  116.38
25011    538351         NaN    5.06
25012    538351         NaN   16.84
25013    538351         NaN    6.77
25014    538351         NaN   13.54

[25015 rows x 3 columns]

** Combine ecom2 and ecom3 with concat **

In [32]:
ecom_concat2_3= pd.concat([ecom2, ecom3], axis=1)
ecom_concat2_3

        Total       Date InvoiceNo  CustomerID   Total
0       15.30 2010-12-01    536365     17850.0   15.30
1       20.34 2010-12-01    536365     17850.0   20.34
2       22.00 2010-12-01    536365     17850.0   22.00
3       20.34 2010-12-01    536365     17850.0   20.34
4       20.34 2010-12-01    536365     17850.0   20.34
...       ...        ...       ...         ...     ...
25010  116.38 2010-12-10    538351         NaN  116.38
25011    5.06 2010-12-10    538351         NaN    5.06
25012   16.84 2010-12-10    538351         NaN   16.84
25013    6.77 2010-12-10    538351         NaN    6.77
25014   13.54 2010-12-10    538351         NaN   13.54

[25015 rows x 5 columns]

** Combine ecom2 and ecom3 with merge. If memory error occurs take only first 400 rows from both DFs.**

In [34]:
ecom_merge_2_3 = pd.merge(ecom2.iloc[:400,:],ecom3.iloc[:400,:], on='Total')
ecom_merge_2_3

       Total       Date InvoiceNo  CustomerID
0      15.30 2010-12-01    536365     17850.0
1      15.30 2010-12-01    536373     17850.0
2      15.30 2010-12-01    536373     17850.0
3      15.30 2010-12-01    536375     17850.0
4      15.30 2010-12-01    536375     17850.0
...      ...        ...       ...         ...
2187   22.95 2010-12-01    536401     15862.0
2188   16.95 2010-12-01    536401     15862.0
2189   10.65 2010-12-01    536401     15862.0
2190   13.90 2010-12-01    536401     15862.0
2191  153.00 2010-12-01    536402     15513.0

[2192 rows x 4 columns]

** Combine ecom2 and ecom3 with join (inner)**

In [35]:
join_ecom2_3 = ecom2.join(ecom3, how="inner",lsuffix='_left',rsuffix='_right')
join_ecom2_3

       Total_left       Date InvoiceNo  CustomerID  Total_right
0           15.30 2010-12-01    536365     17850.0        15.30
1           20.34 2010-12-01    536365     17850.0        20.34
2           22.00 2010-12-01    536365     17850.0        22.00
3           20.34 2010-12-01    536365     17850.0        20.34
4           20.34 2010-12-01    536365     17850.0        20.34
...           ...        ...       ...         ...          ...
25010      116.38 2010-12-10    538351         NaN       116.38
25011        5.06 2010-12-10    538351         NaN         5.06
25012       16.84 2010-12-10    538351         NaN        16.84
25013        6.77 2010-12-10    538351         NaN         6.77
25014       13.54 2010-12-10    538351         NaN        13.54

[25015 rows x 5 columns]

# Congrats!