<a href="https://colab.research.google.com/github/Porxelek/DS/blob/main/Weathers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Hava durumu;
- T = Sıcaklık
- U = Nem oranı
- Ff = Rüzgar hızı
- N = Buluk oranı  

2. Elektirik birim fiyatı

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install colorama
import colorama
from colorama import Fore, Style
from termcolor import colored

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting colorama
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Installing collected packages: colorama
Successfully installed colorama-0.4.6

In [3]:
def missing(df):
    missing_number = df.isnull().sum().sort_values(ascending=False)
    missing_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values

def missing_values(df):
    return missing(df)[missing(df)['Missing_Number']>0]


def first_looking(df):
    print(colored("Shape:", attrs=['bold']), df.shape,'\n',
          f"There is ", df.shape[0], " observation and ", df.shape[1], " columns in the dataset.", '\n',
          colored('-'*79, 'magenta', attrs=['bold']),
          colored("\nInfo:\n", attrs=['bold']), sep='')
    print(df.info(), '\n', 
          colored('-'*79, 'magenta', attrs=['bold']), sep='')
    print(colored("Number of Uniques:\n", attrs=['bold']), df.nunique(),'\n',
          colored('-'*79, 'magenta', attrs=['bold']), sep='')
    print(colored("Missing Values:\n", attrs=['bold']), missing_values(df),'\n', 
          colored('-'*79, 'magenta', attrs=['bold']), sep='')
    print(colored("All Columns:", attrs=['bold']), list(df.columns),'\n', 
          colored('-'*79, 'magenta', attrs=['bold']), sep='')

    df.columns= df.columns.str.lower().str.replace('&', '_').str.replace(' ', '_')

    print(colored("Columns after rename:", attrs=['bold']), list(df.columns),'\n',
              colored('-'*79, 'magenta', attrs=['bold']), sep='')

In [4]:
df0 = pd.read_excel("/content/drive/MyDrive/Data/17220.01.01.2018.31.08.2022.1.0.0.tr.utf8.00000000.xlsx",
                    usecols=['Yerel zaman İzmir kentine ait','T','U','Ff', 'N'], index_col=0)
df_hava = df0.copy()

In [5]:
df_hava.head(3)

                                  T   U  Ff         N
Yerel zaman İzmir kentine ait
31.08.2022 23:00               26.8  75   3  Bulutsuz
31.08.2022 22:00               27.4  74   2  Bulutsuz
31.08.2022 21:00               28.0  73   3  Bulutsuz

In [6]:
first_looking(df_hava)

Shape:(38836, 4)
There is 38836 observation and 4 columns in the dataset.
-------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
Index: 38836 entries, 31.08.2022 23:00 to 01.01.2018 00:00
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       38836 non-null  float64
 1   U       38836 non-null  int64
 2   Ff      38836 non-null  int64
 3   N       38835 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.5+ MB
None
-------------------------------------------------------------------------------
Number of Uniques:
T     394
U      90
Ff     13
N       9
dtype: int64
-------------------------------------------------------------------------------
Missing Values:
   Missing_Number  Missing_Percent
N               1         0.000026
-------------------------------------------------------------------------------
All Columns:['T', 'U', 'Ff', 'N']
-------------------------------------------------------------------------------
Columns after rename:['t', 'u', 'ff', 'n']
-------------------------------------------------------------------------------

In [7]:
df1 = pd.read_excel("/content/drive/MyDrive/Data/TCMB - Tüketici Fiyatları.xlsx")
df_tüfe = df1.copy()

In [8]:
df_tüfe.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,TÜFE (Yıllık % Değişim),TÜFE (Aylık % Değişim)
0,NaN,NaN,07-2022,79.60,2.37
1,NaN,NaN,06-2022,78.62,4.95
2,NaN,NaN,05-2022,73.50,2.98
3,NaN,NaN,04-2022,69.97,7.25
4,NaN,NaN,03-2022,61.14,5.46

In [9]:
df_tüfe = df_tüfe.rename(columns={"Unnamed: 2": "tarih",
                        "TÜFE (Yıllık % Değişim)": "yıllık_tufe",
                        "TÜFE (Aylık % Değişim)": "aylık_tufe"})

In [10]:
df_tufe = df_tüfe[["tarih", "yıllık_tufe", "aylık_tufe"]]
first_looking(df_tufe)

Shape:(56, 3)
There is 56 observation and 3 columns in the dataset.
-------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tarih        56 non-null     object
 1   yıllık_tufe  56 non-null     float64
 2   aylık_tufe   56 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.4+ KB
None
-------------------------------------------------------------------------------
Number of Uniques:
tarih          56
yıllık_tufe    55
aylık_tufe     50
dtype: int64
-------------------------------------------------------------------------------
Missing Values:
Empty DataFrame
Columns: [Missing_Number, Missing_Percent]
Index: []
-------------------------------------------------------------------------------
All Columns:['tarih', 'yıllık_tufe', 'aylık_tufe']
-------------------------------------------------------------------------------
Columns after rename:['tarih', 'yıllık_tufe', 'aylık_tufe']
-------------------------------------------------------------------------------

In [11]:
df_tufe.head()

     tarih  yıllık_tufe  aylık_tufe
0  07-2022        79.60        2.37
1  06-2022        78.62        4.95
2  05-2022        73.50        2.98
3  04-2022        69.97        7.25
4  03-2022        61.14        5.46

In [12]:
df2 = pd.read_csv("/content/drive/MyDrive/Data/train.csv")
df_train = df2.copy()

In [13]:
first_looking(df_train)

Shape:(40152, 2)
There is 40152 observation and 2 columns in the dataset.
-------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40152 entries, 0 to 40151
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tarih                   40152 non-null  object
 1   Dağıtılan Enerji (MWh)  40152 non-null  float64
dtypes: float64(1), object(1)
memory usage: 627.5+ KB
None
-------------------------------------------------------------------------------
Number of Uniques:
Tarih                     40152
Dağıtılan Enerji (MWh)    40151
dtype: int64
-------------------------------------------------------------------------------
Missing Values:
Empty DataFrame
Columns: [Missing_Number, Missing_Percent]
Index: []
-------------------------------------------------------------------------------
All Columns:['Tarih', 'Dağıtılan Enerji (MWh)']
-------------------------------------------------------------------------------
Columns after rename:['tarih', 'dağıtılan_enerji_(mwh)']
-------------------------------------------------------------------------------

In [14]:
df_train.head()

                 tarih  dağıtılan_enerji_(mwh)
0  2018-01-01 00:00:00             1593.944216
1  2018-01-01 01:00:00             1513.933887
2  2018-01-01 02:00:00             1402.612637
3  2018-01-01 03:00:00             1278.527266
4  2018-01-01 04:00:00             1220.697701